<div class="container">
  <div class="row">
    <hr class="col-xs-10">
    <h1>Routing :</h1>
    <a [routerLink]="['']"><h1>Home</h1></a>
    <a [routerLink]="['user']"><h1>User</h1></a>
    <router-outlet></router-outlet>
  </div>
</div>







<h4 [ngStyle]="{'background-color': 'yellow'}">going to home</h4>

<div [ngClass]="{border:true, background:true}">
</div>

<div [appHightlight]="'red'" [defaultColor]="'yellow'"> Hover ON Me And See Magic</div>

<h5>*ngIf</h5>
<h3 *ngIf="switch">By Clicking Button will Hide this Text</h3>

<button (click)="onSwitch()">Click On Button</button>
<br>
<div [ngSwitch]="val1">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default</p>

</div>

<h3>For Debugging Mode </h3>
<ul>
  <li *ngFor="let item of data1">{{item}}</li>
</ul>

